/*style for fvk.html
*/
html {
	font-size: 17.6px;
}

.border {
	padding: 1.5rem;
}

.nav_button {
	font-weight: 
}

.flex {
	list-style: none;
	display: flex;
}

nav>ul>li {
	margin-left: 1rem;
}

.screen {
	min-height: 1.5rem;
	max-width: 10rem;
	background-color: #7fffd4;
}

.margin-top {
	margin-top: 0.5rem 
}

.left {
	float: left;
}

.asider {
	padding: 1.5rem;
	background-color: silver;
	min-height: 10rem;
	border: 1px solid silver;	
}

#section_b:after {
	content:'';
	clear: both;
}

.clear {
	clear: both;
}

.padding {
	padding: 1.5rem;
}

.board {
	min-width:20rem;
	min-height: 10rem; 
}

/*for look good */
button {
	background-color: #6a5acd;
	color: white;
	border-style: none;
	border:1px solid #6a5acd;
	border-radius: 2px;
}

button:hover {
	background-color: #8d8fde;

}

aside>ul {
	list-style: lower-alpha ;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input:hover {
	outline: 2px solid blue;
}